/* Dashboard Page Styles - Import all components */
@import url('./base/variables.css');
@import url('./base/reset.css');
@import url('./dashboard/layout.css');
@import url('./dashboard/header.css');
@import url('./dashboard/stats.css');
@import url('./dashboard/cards.css');
@import url('./dashboard/transactions.css');
@import url('./dashboard/responsive.css');